<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="150" alt="Angular Logo" src="assets/img/icon.png">
  <div> Animals :
    <select [(ngModel)]="defaultAnimal">
      <option selected="true" *ngFor="let i of animals" [ngValue]="i">{{i}}</option>
      
    </select>
  </div>

  <div style="padding-top: 30px">
    <img src="assets/img/{{defaultAnimal|lowercase}}.png">
  </div>

</div>

