<h2>Products</h2>

<div *ngFor="let product of products">

  <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>
  <img src="assets/img/{{product.name}}.png">
  <button (click)="openModal('custom-modal-1')">Description</button>

</div>
<jw-modal id="custom-modal-1">
  <h1>Description</h1>
  <button (click)="closeModal('custom-modal-1');">Close</button>
</jw-modal>
